<div class="home" id="Home">
    <div class="home-content">
        <h3>Hello, It's Me</h3>
        <h1 id="adminNameDisplay">Rahul Mahato</h1>
        <h3>And I'm a <span class="text"></span></h3>
        <p id="homeDescription">I'm a web Designer with extensive experience for over 2 months. experience is to create and website design, Frontend design, and backend design.</p>
        <div class="home-sci">
            <a href="https://www.facebook.com/share/15iFU9w1yU/?mibextid=LQQJ4d" style="--i: 6"><i class="bx bxl-facebook"></i></a>
            <a href="#" style="--i: 7"><i class="bx bxl-instagram"></i></a>
            <a href="#" style="--i: 8"><i class="bx bxl-whatsapp"></i></a>
            <a href="#" style="--i: 9"><i class="bx bxl-tiktok"></i></a>
        </div>
        <div class="hero-buttons">
            <button class="btn-box" onclick="viewProjects()">View My Projects</button>
            <button id="downloadCvBtn" class="btn-box" onclick="downloadCV()">Download CV</button>
        </div>
    </div>
    <div class="img">
        <img id="profileImage" class="round" src="images/ME.jpeg" />
    </div>
</div>