<div class="main-text">
    <h2>Latest<span>Teamwork</span></h2>
    <div class="portfolio-content" id="teamworkList">
        <div class="row">
            <img src="images/team1.jpg" />
            <div class="layer">
                <h5>Open Source Contribution</h5>
                <p>Collaborated with global developers on open-source projects.</p>
            </div>
        </div>
        <div class="row">
            <img src="images/team2.jpg" />
            <div class="layer">
                <h5>Hackathon Winner</h5>
                <p>Team project that won first place at college hackathon.</p>
            </div>
        </div>
        <div class="row">
            <img src="images/team3.jpg" />
            <div class="layer">
                <h5>Group Project</h5>
                <p>Successfully delivered full-stack application as a team.</p>
            </div>
        </div>
    </div>
</div>